html {
    box-sizing: border-box;
}

h3 {
    margin: 0;
}
 
body {
    margin: 0;
}

header {
    min-height: 450px;
    background: url(../img/backgruond/bgMiniPig.jpg) center center/cover no-repeat;
}


.contentWrap {
    width: 880px;
    margin: 0 auto ;
    padding-top: 60px;
    text-align: center;
}

.textHeader {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 60px;
}

.btn {
    margin-top: 30px;
    height: 50px;
    width: 160px;
    background: rgba(29, 28, 28, 0.438);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.description {
    margin: 30px auto 0;
    width: 880px;
    text-align: center;
}

.boxDescription {
    display: table-cell;
    width: 40%;
    box-sizing: inherit;
    padding: 15px;
}

.imgBox {
    height: 273px;
    width: 273px;
    border-radius: 5px;
}

main {
    display: inline-block;
    background: url(../img/backgruond/lawn.jpg) center center/cover no-repeat;
    width: 100%;
    margin-top: 30px;
}

.content {
    margin: 0 auto;
    width: 880px;
    text-align: center;
}

.mainContent {
    float: left;
    width: 31%;
    min-height: 600px;
    box-sizing: inherit;
    margin-top: 20px;
    padding: 20px 10px;
    background:rgba(29, 28, 28, 0.438);
    color: white;
    border-radius: 5px;
}

.advantage {
    margin: 20px auto 0;
    text-align: center;
    width: 880px;
}

.keeping {
    text-align: center;
    margin-top: 30px;
}

.foodBox {
    display: table-cell;
    width: 50%;
    padding: 20px 40px;
    background-color: rgba(67, 235, 156, 0.575);
}

.careBox {
    display: table-cell;
    width: 50%;
    padding: 20px 40px;
    background-color: rgba(202, 241, 60, 0.575);
}

footer {
    text-align: center;
    background-color: rgba(12, 8, 8, 0.829);
    min-height: 100px;
    width: 100%;
}

.teacherBox {
    display: inline-block;
    width: 49%;
    padding: 40px 0;
}

.stydentBox {
    display: inline-block;
    width: 49%;
    padding: 40px 0;
}

.linkFooter {
    text-decoration: none;
    color: white;
    font-size: 20px;
}