body {
    margin: 0;
}

header {
    min-height: 450px;
    background: url(../img/backgruond/bgMiniPig1.jpg) center center/cover no-repeat;
    background-attachment: fixed;
}


.contentWrap {
    width: 880px;
    margin: 0 auto ;
    padding-top: 60px;
    text-align: center;
}

.textHeader {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

h1 {
    color: white;
    font-size: 60px;
}

.btn {
    background: rgba(29, 28, 28, 0.568);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(104, 100, 94);
    padding: 20px;
    text-decoration: none;
}

main {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.description {
    margin: 30px auto 0;
    width: 880px;
    text-align: center;
}

.boxDescription {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 -1px;
    vertical-align: text-top;
}

.mainBlock {
    display: inline-block;
    background: url(../img/backgruond/lawn.jpg) center center/cover no-repeat;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 880px;
}

.imgBox {
    height: 273px;
    width: 273px;
    border-radius: 5px;
}

.mainContent {
    float: left;
    width: 33%;
    min-height: 600px;
    box-sizing: border-box;
    margin: 20px 1px;
    padding: 27px 10px 0;
    background:rgba(29, 28, 28, 0.438);
    color: white;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    display: block;
}

.advantage {
    margin: 20px auto 0;
    text-align: center;
    width: 880px;
}

.keeping {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}

.adviceBox {
    display: inline-block;
    vertical-align: text-top;
    box-sizing: border-box;
    min-height: 213px;
    width: 50%;
    padding: 20px 20px;
    margin: 0 -2px;
    background-color: rgba(67, 235, 156, 0.575);
}

.adviceBg {
    background-color: rgba(202, 241, 60, 0.575);
}

footer {
    text-align: center;
    background-color: rgba(12, 8, 8, 0.829);
    min-height: 100px;
    width: 100%;
}

.teacherBox {
    display: inline-block;
    width: 49%;
    padding: 40px 0;
}

.stydentBox {
    display: inline-block;
    width: 49%;
    padding: 40px 0;
}

.linkFooter {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 40px -1px;
    width: 50%;
    font-size: 20px;
}